/* Color Hunt color palette chosen
 * https://colorhunt.co/palette/22283131363f76abaeeeeeee
 */

:root {
  --black-grey: #222831;
  --grey: #31363f;
  --olive-green: #76abae;
  --white: #eeeeee;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  color: var(--white);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--grey);
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0em 1.5em;
}

header {
  background-color: var(--black-grey);
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 1.2;
  padding: 5vw 2em;
}

header img {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: auto;
  margin: auto;
  margin-left: 1em;
  margin-bottom: 2em;
  max-width: 100%;
  border-radius: 50%;
}

header h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
  width: 100%;
}

header a {
  align-items: flex-end;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 300ms ease-out;
  transition-property: color, background;
}

section#intro {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2em;
  margin-bottom: 2em;
}

section#hobbies {
  padding: 20px;
  background-color: var(--olive-green);
}

section#contact {
  background-color: var(--black-grey);
}

section#contact h2 {
  margin: 0px;
}

section#contact {
  margin: 0px;
  padding: 0px;
}

a {
  color: #e81c4f;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  background: #e81c4f;
}

img {
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

#contact img {
  width: 50px;
  height: auto;
}

.bullet_point {
  height: 15px;
  width: 15px;
}

section#contact {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section#contact p {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

i {
  margin: 5px;
}
